@font-face {
  font-family: DigitalMono;
  src: url(./DigitalMono.ttf); /* url of the font */
}



.align-right {
	text-align: right;
}

.margin-top {
	margin-top: 1rem;
}



.button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bs-secondary-bg);
	font-size: 30pt;
	padding: 0.5rem;
	border-radius: 0.3rem;
	height: 5rem;
	box-shadow: 5px 5px 0 0 #000000cc;
	text-shadow: 0 0 5px black;
}

.button:hover {
	cursor: pointer;
	border: 1px solid black
}

.button:active {
	box-shadow: inset 5px 5px 0 0 #000000cc;
}

.equation {
	background-color: var(--bs-secondary-bg);
	border: 3px solid #00000066;
	border-radius: 0.75rem;
	font-family: DigitalMono;
	font-size: 38pt;
	padding: 0px 1rem;
}

.equation:focus {
	background-color: var(--bs-secondary-bg);
	box-shadow: none;
	border: 3px solid #00000066;
}